header {
    display: flex;
    border: 0.6rem solid;
    border-color: #423B3B;
    background-color: #fff;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
}

body {
    background-color: #2B2323;
}

@font-face {
    font-family: 'Teko', sans-serif;
}
.anime {
    font-size: 80px;
    color: #4B0F83;
    font-family: 'Teko', sans-serif;
    margin: 10px;
}
.logo{
    position: relative;
    left: -150px;
}
.pesquisar {
    font-size: 70px;
    color: #4B0F83;
    font-family: 'Teko', sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 10px;
}

.premium{
    font-size: 70px;
    color: #4B0F83;
    font-family: 'Teko', sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 10px;
}
a{
    text-decoration: none;
}


footer nav {
    position: fixed;
    bottom:0;
    left: 0;
    right: 0;
    width: 94,5%;
    display: flex;
    border: 0.6rem solid;
    border-color: #423B3B;
    background-color: #fff;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
    margin: 7px;
}  

.suporte{
    font-size: 50px;
    color: #4B0F83;
    font-family: 'Teko', sans-serif;
    margin: 10px;
    font-style: normal;
    font-weight: normal;
}

.foruns{
    font-size: 50px;
    color: #4B0F83;
    font-family: 'Teko', sans-serif;
    margin: 10px;
    font-style: normal;
    font-weight: normal;
}

.icones{
    font-size: 45px;
    color: #4B0F83;
    font-family: 'Teko', sans-serif;
    margin: 0px;
    font-style: normal;
    font-weight: normal;
}

.voltar{
    font-size: 70px;
    color: #4B0F83;
    font-family: 'Teko', sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 10px;
}

.tabela td{
    border: 1px solid black;
    border-radius: 10px;
    background-color: #aeaeae;
    width: 25%;
    margin: 50px;
    border-spacing: 50px 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.tabela{
    display:table;
    font-size: 50px;
    color: #000000;
    font-family: 'Teko', sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    text-align: center;
    width: 100%;
}

main nav table{
    border-collapse: separate;
    border-spacing: 9px;
}




.planos {
    display:table;
    font-size: 40px;
    color: #000000;
    font-family: 'Teko', sans-serif;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    text-align: center;
    width: 100%;
}

.planos td{
    border: 1px solid black;
    border-radius: 10px;
    background-color: #aeaeae;
    width: 33,3%;   
    border-spacing: 50px 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.planos thead{
    text-decoration: none;
    color: black;
}